In [1]:
import os

In [3]:
csv_files = os.listdir(path='../weather_data')

In [8]:
csv_files = ['./' + filename for filename in csv_files]

In [13]:
csv_files.remove('./weather_preprocessing.ipynb')

In [4]:
import pandas as pd

In [31]:
import pandas as pd
import os

def process_files(csv_files):
    dfs = []
    for file in csv_files:
        try:
            # Extract location name from filename
            location = os.path.basename(file).replace('data.csv', '')
            
            # Read CSV file, assuming the lat and lon are in the first row of the respective columns
            df = pd.read_csv(file)
            if 'latitude' in df.columns and 'longitude' in df.columns:
                latitude = df.at[0, 'latitude']
                longitude = df.at[0, 'longitude']
                df['latitude'].fillna(latitude, inplace=True)  # Fill all NaN latitudes
                df['longitude'].fillna(longitude, inplace=True)  # Fill all NaN longitudes
            else:
                # Assumes latitude and longitude are the last columns if not explicitly named
                latitude = df.iloc[0, -2]
                longitude = df.iloc[0, -1]
                df.iloc[:, -2].fillna(latitude, inplace=True)
                df.iloc[:, -1].fillna(longitude, inplace=True)

            df['location'] = location  # Add location name as a new column
            dfs.append(df)
            print(f"{file} appended")
        except Exception as e:
            print(f"Couldn't append {file}: {e}")
    
    # Combine all dataframes into one
    combined_df = pd.concat(dfs, ignore_index=True)
    return combined_df

combined_df = process_files(csv_files)
print(combined_df.head())  # To verify output

./eastbournedata.csv appended
./southamptondata.csv appended
./dunstaffnagedata.csv appended
Couldn't append ./.DS_Store: 'utf-8' codec can't decode byte 0xb8 in position 559: invalid start byte
./aberporthdata.csv appended
./paisleydata.csv appended
./durhamdata.csv appended
./braemardata.csv appended
./stornowaydata.csv appended
./heathrowdata.csv appended
./chivenordata.csv appended
./manstondata.csv appended
./eskdalemuirdata.csv appended
./newtonriggdata.csv appended
./shawburydata.csv appended
./yeoviltondata.csv appended
./ballypatrickdata.csv appended
./suttonboningtondata.csv appended
./leucharsdata.csv appended
./ringwaydata.csv appended
./bradforddata.csv appended
./nairndata.csv appended
./wickairportdata.csv appended
./cwmystwythdata.csv appended
./cambornedata.csv appended
./hurndata.csv appended
./tireedata.csv appended
./valleydata.csv appended
./lowestoftdata.csv appended
./whitbydata.csv appended
./sheffielddata.csv appended
./armaghdata.csv appended
./lerwickdata.csv appended
./cambridgedata.csv appended
./oxforddata.csv appended
./waddingtondata.csv appended
./rossonwyedata.csv appended
     yyyy   mm  tmax  tmin latitude  longitude    location yyyy
0     NaN  NaN  degC  degC    0.285     50.759  eastbourne   NaN
1  1959.0  1.0   6.4   1.1    0.285     50.759  eastbourne   NaN
2  1959.0  2.0   6.6     2    0.285     50.759  eastbourne   NaN
3  1959.0  3.0  10.4   5.1    0.285     50.759  eastbourne   NaN
4  1959.0  4.0  12.7   7.3    0.285     50.759  eastbourne   NaN

In [32]:
combined_df.to_csv('test.csv')

In [35]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38777 entries, 0 to 38776
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   yyyy       37742 non-null  object
 1   mm         38741 non-null  object
 2   tmax       38774 non-null  object
 3   tmin       37775 non-null  object
 4   latitude   38777 non-null  object
 5   longitude  38777 non-null  float64
 6   location   38777 non-null  object
 7   yyyy       999 non-null    object
dtypes: float64(1), object(7)
memory usage: 2.4+ MB

In [40]:
df = combined_df.iloc[:, :7]

In [42]:
df = df.iloc[1:, :]

In [46]:
# Dropping rows that have NaN values in any column
cleaned_df = df.dropna()

In [51]:
cleaned_df.head(10)

      yyyy    mm  tmax  tmin latitude  longitude    location
1   1959.0   1.0   6.4   1.1    0.285     50.759  eastbourne
2   1959.0   2.0   6.6     2    0.285     50.759  eastbourne
3   1959.0   3.0  10.4   5.1    0.285     50.759  eastbourne
4   1959.0   4.0  12.7   7.3    0.285     50.759  eastbourne
5   1959.0   5.0  16.8   9.3    0.285     50.759  eastbourne
6   1959.0   6.0  18.9  11.9    0.285     50.759  eastbourne
7   1959.0   7.0  21.6  14.2    0.285     50.759  eastbourne
8   1959.0   8.0  21.8  14.8    0.285     50.759  eastbourne
9   1959.0   9.0  20.8  12.8    0.285     50.759  eastbourne
10  1959.0  10.0  16.8  10.7    0.285     50.759  eastbourne

In [53]:
# Convert year and month to integer if they are floats and contain no decimal
cleaned_df['yyyy'] = cleaned_df['yyyy'].astype(int)
cleaned_df['mm'] = cleaned_df['mm'].astype(int)

# Display data types to confirm changes
cleaned_df.dtypes

ValueError: invalid literal for int() with base 10: '20-Jan'

In [54]:
# Display unique values in the 'yyyy' and 'mm' columns
print("Unique years:", df['yyyy'].unique())
print("Unique months:", df['mm'].unique())

Unique years: [1959.0 1960.0 1961.0 1962.0 1963.0 1964.0 1965.0 1966.0 1967.0 1968.0
 1969.0 1970.0 1971.0 1972.0 1973.0 1974.0 1975.0 1976.0 1977.0 1978.0
 1979.0 1980.0 1981.0 1982.0 1983.0 1984.0 1985.0 1986.0 1987.0 1988.0
 1989.0 1990.0 1991.0 1992.0 1993.0 1994.0 1995.0 1996.0 1997.0 1998.0
 1999.0 2000.0 2001.0 2002.0 2003.0 2004.0 2005.0 2006.0 2007.0 2008.0
 2009.0 2010.0 2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0
 2019.0 2020.0 2021.0 2022.0 2023.0 2024.0 nan '1855' '1856' '1857' '1858'
 '1859' '1860' '1861' '1862' '1863' '1864' '1865' '1866' '1867' '1868'
 '1869' '1870' '1871' '1872' '1873' '1874' '1875' '1876' '1877' '1878'
 '1879' '1880' '1881' '1882' '1883' '1884' '1885' '1886' '1887' '1888'
 '1889' '1890' '1891' '1892' '1893' '1894' '1895' '1896' '1897' '1898'
 '1899' '1900' '1901' '1902' '1903' '1904' '1905' '1906' '1907' '1908'
 '1909' '1910' '1911' '1912' '1913' '1914' '1915' '1916' '1917' '1918'
 '1919' '1920' '1921' '1922' '1923' '1924' '1925' '1926' '1927' '1928'
 '1929' '1930' '1931' '1932' '1933' '1934' '1935' '1936' '1937' '1938'
 '1939' '1940' '1941' '1942' '1943' '1944' '1945' '1946' '1947' '1948'
 '1949' '1950' '1951' '1952' '1953' '1954' '1955' '1956' '1957' '1958'
 '1959' '1960' '1961' '1962' '1963' '1964' '1965' '1966' '1967' '1968'
 '1969' '1970' '1971' '1972' '1973' '1974' '1975' '1976' '1977' '1978'
 '1979' '1980' '1981' '1982' '1983' '1984' '1985' '1986' '1987' '1988'
 '1989' '1990' '1991' '1992' '1993' '1994' '1995' '1996' '1997' '1998'
 '1999' '2000' 'Site Clo' 1880.0 1881.0 1882.0 1883.0 1884.0 1885.0 1886.0
 1887.0 1888.0 1889.0 1890.0 1891.0 1892.0 1893.0 1894.0 1895.0 1896.0
 1897.0 1898.0 1899.0 1900.0 1901.0 1902.0 1903.0 1904.0 1905.0 1906.0
 1907.0 1908.0 1909.0 1910.0 1911.0 1912.0 1913.0 1914.0 1915.0 1916.0
 1917.0 1918.0 1919.0 1920.0 1921.0 1922.0 1923.0 1924.0 1925.0 1926.0
 1927.0 1928.0 1929.0 1930.0 1931.0 1932.0 1933.0 1934.0 1935.0 1936.0
 1937.0 1938.0 1939.0 1940.0 1941.0 1942.0 1943.0 1944.0 1945.0 1946.0
 1947.0 1948.0 1949.0 1950.0 1951.0 1952.0 1953.0 1954.0 1955.0 1956.0
 1957.0 1958.0 1873.0 1874.0 1875.0 1876.0 1877.0 1878.0 1879.0 '20-Jan'
 '20-Feb' '20-Mar' '20-Apr' '20-May' '20-Jun' '20-Jul' '20-Aug' '20-Sep'
 '20-Oct' '20-Nov' '20-Dec' '2013' '2014' '2015' '2016' '2017' '2018'
 '2019' '2020' '2021' '2022' '2023' '2024' '2001' '2002' '2003' '2004'
 'Site Cl' '2005' '2006' '2007' '2008' '2009' '2010' '2011' 'Site clo'
 '1853' '1854' 'Jan-19' 'Feb-19' 'Mar-19' 'Apr-19' 'May-19' 'Jun-19'
 'Jul-19' 'Aug-19' 'Sep-19' 'Oct-19' 'Nov-19' 'Dec-19' 'Jan-20' 'Feb-20'
 'Mar-20' 'Apr-20' 'May-20' 'Jun-20' 'Jul-20' 'Aug-20' 'Sep-20' 'Oct-20'
 'Nov-20' 'Dec-20' 1853.0 1854.0 1855.0 1856.0 1857.0 1858.0 1859.0 1860.0
 1861.0 1862.0 1863.0 1864.0 1865.0 1866.0 1867.0 1868.0 1869.0 1870.0
 1871.0 1872.0]
Unique months: [1.0 2.0 3.0 4.0 5.0 6.0 7.0 8.0 9.0 10.0 11.0 12.0 nan '1' '2' '3' '4'
 '5' '6' '7' '8' '9' '10' '11' '12' 'sed' '---' '5.8' '4.2' '9.7' '13.1'
 '14' '16.2' '17.4' '18.7' '16.4' '9.2' '9.6' '8.2' '8.9' '10.2' '13'
 '14.1' '15.9' '18.6' '18.1' '15.8' '13.6' '6.9' '6.5' '8.6' '12.7' '13.8'
 '15.4' '18.2' '19.7' '15.7' '12.1' '9.5' '7.7' '4.5' '10.4' '13.3' '14.3'
 '16.5' '17.1' '15.2' '10.7' '8.7' '12.8' '14.6' '16.3' '7.2' '13.9' '17'
 '21.4' '17.5' '14.2' '10.1' '7.4' '13.5' '11.4' '14.7' '16.9' '11.5'
 '8.5' '13.4' '19.9' '19' '19.5' '7.3' '8.3' '10.8' '10.3' '17.9' '15.3'
 '12.9' '9.1' '4.7' '6.7' '6.4' '12.5' '18.3' '6.2' '9.4' '12.3' '7.8'
 '6.8' '9.8' '17.2' '11.2' '6.3' '11.3' '16.1' '6.1' '4.6' '11.9' '12.6'
 '19.2' '21.3' '7.1' '3.4' '10.6' '14.5' '15' '17.6' '12.2' '17.7' '8.4'
 '7.6' '16' '8.8' '15.5' '17.3' '19.1' '19.6' '10.5' '7.9' '10.9' '18'
 '12.4' '16.7' '1.3' '3.3' '11.1' '15.6' '5.6' '15.1' '8.1' '9.3' '16.8'
 '5.5' '7.5' '18.5' '6.6' '16.6' '17.8' '18.4' '14.9' '9.9' '19.3' '18.9'
 '20.4' '5.9' '13.7' '14.4' '11.6' '11.8' '5.3' '20.7' '13.2' '2.3' '20.1'
 '19.8' '5.4' '18.8' '21.1' '22.4' '20.2' '14.8' '11.7' '21.2' '5.1'
 '20.3' '19.4' '20.6' 'osed']

In [55]:
# Convert all entries in 'yyyy' to string
cleaned_df['yyyy'] = cleaned_df['yyyy'].astype(str)

# Remove known erroneous entries
cleaned_df = cleaned_df[~cleaned_df['yyyy'].str.contains('Site|osed', na=False)]

# Convert valid year strings back to integers
cleaned_df['yyyy'] = pd.to_numeric(cleaned_df['yyyy'], errors='coerce')
cleaned_df.dropna(subset=['yyyy'], inplace=True)  # Drop rows where 'yyyy' could not be converted
cleaned_df['yyyy'] = cleaned_df['yyyy'].astype(int)

/var/folders/x0/7x67cwrs4s1b0c_c97sg5kt00000gn/T/ipykernel_39348/1839224974.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['yyyy'] = cleaned_df['yyyy'].astype(str)

In [57]:
cleaned_df

       yyyy    mm  tmax tmin latitude  longitude    location
1      1959   1.0   6.4  1.1    0.285     50.759  eastbourne
2      1959   2.0   6.6    2    0.285     50.759  eastbourne
3      1959   3.0  10.4  5.1    0.285     50.759  eastbourne
4      1959   4.0  12.7  7.3    0.285     50.759  eastbourne
5      1959   5.0  16.8  9.3    0.285     50.759  eastbourne
...     ...   ...   ...  ...      ...        ...         ...
38772  2023  11.0  11.4    5   -2.584     51.911   rossonwye
38773  2023  12.0  10.5  5.9   -2.584     51.911   rossonwye
38774  2024   1.0   8.3  2.3   -2.584     51.911   rossonwye
38775  2024   2.0  11.3  5.3   -2.584     51.911   rossonwye
38776  2024   3.0    12  4.9   -2.584     51.911   rossonwye

[37163 rows x 7 columns]

In [60]:
# Define a mapping from possible month formats to integers
month_mapping = {
    '1': 1, '01': 1, 'Jan': 1, 'Jan-19': 1, 'January': 1, '20-Jan': 1,
    '2': 2, '02': 2, 'Feb': 2, 'Feb-19': 2, 'February': 2, '20-Feb': 2,
    '3': 3, '03': 3, 'Mar': 3, 'Mar-19': 3, 'March': 3, '20-Mar': 3,
    '4': 4, '04': 4, 'Apr': 4, 'Apr-19': 4, 'April': 4, '20-Apr': 4,
    '5': 5, '05': 5, 'May': 5, 'May-19': 5, '20-May': 5,
    '6': 6, '06': 6, 'Jun': 6, 'Jun-19': 6, 'June': 6, '20-Jun': 6,
    '7': 7, '07': 7, 'Jul': 7, 'Jul-19': 7, 'July': 7, '20-Jul': 7,
    '8': 8, '08': 8, 'Aug': 8, 'Aug-19': 8, 'August': 8, '20-Aug': 8,
    '9': 9, '09': 9, 'Sep': 9, 'Sep-19': 9, 'September': 9, '20-Sep': 9,
    '10': 10, 'Oct': 10, 'Oct-19': 10, 'October': 10, '20-Oct': 10,
    '11': 11, 'Nov': 11, 'Nov-19': 11, 'November': 11, '20-Nov': 11,
    '12': 12, 'Dec': 12, 'Dec-19': 12, 'December': 12, '20-Dec': 12
}

# Replace all month representations with their numerical equivalents
cleaned_df['mm'] = cleaned_df['mm'].replace(month_mapping).astype(str)

# Convert to numeric, coercing errors and dropping NaN values
cleaned_df['mm'] = pd.to_numeric(cleaned_df['mm'], errors='coerce')
cleaned_df.dropna(subset=['mm'], inplace=True)
cleaned_df['mm'] = cleaned_df['mm'].astype(int)

In [61]:
print(cleaned_df.head())
print("Unique years:", sorted(cleaned_df['yyyy'].unique()))
print("Unique months:", sorted(cleaned_df['mm'].unique()))

   yyyy  mm  tmax tmin latitude  longitude    location
1  1959   1   6.4  1.1    0.285     50.759  eastbourne
2  1959   2   6.6    2    0.285     50.759  eastbourne
3  1959   3  10.4  5.1    0.285     50.759  eastbourne
4  1959   4  12.7  7.3    0.285     50.759  eastbourne
5  1959   5  16.8  9.3    0.285     50.759  eastbourne
Unique years: [1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Unique months: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [62]:
import numpy as np

def haversine(lon1, lat1, lon2, lat2):
    # Convert decimal degrees to radians
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371  # Radius of Earth in kilometers
    return c * r

In [65]:
def predict_temperature(year, month, lat, lon, df):
    # Calculate distances using the Haversine formula
    df['distance'] = df.apply(lambda row: haversine(lon, lat, row['longitude'], row['latitude']), axis=1)
    
    # Find the closest data point based on the calculated distance
    closest_data = df[(df['yyyy'] == year) & (df['mm'] == month)].sort_values('distance').iloc[0]
    
    return closest_data['tmax'], closest_data['tmin']

# Example usage
try:
    tmax, tmin = predict_temperature(1959, 6, 0.285, 50.759, cleaned_df)
    print(f"Predicted Tmax: {tmax} °C, Tmin: {tmin} °C")
except Exception as e:
    print(f"An error occurred: {e}")

Predicted Tmax: 18.9 °C, Tmin: 11.9 °C

In [64]:
print(cleaned_df[['latitude', 'longitude']].dtypes)  # Check current data types

# Convert latitude and longitude to float if they are not already
cleaned_df['latitude'] = pd.to_numeric(cleaned_df['latitude'], errors='coerce')
cleaned_df['longitude'] = pd.to_numeric(cleaned_df['longitude'], errors='coerce')

# Check for NaNs which indicate conversion failures
print(cleaned_df[['latitude', 'longitude']].isna().sum())

latitude      object
longitude    float64
dtype: object
latitude     783
longitude      0
dtype: int64

In [66]:
cleaned_df.to_csv('model_df.csv')